body {
	background-color: blue;
}

nav {
	background-color: beige;
	width: 100%;
	border-radius: 5px;
	border-color: black;
	
}
.nav li {
	display: inline-block;
	width: 30%;
	margin-left: 50px;
	font-weight: bold;
	font-size: larger;
}
/*etcetrea verder werken twee kolommen*/
